.container-body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background: url(img/login.jpg) no-repeat;
    background-size:cover;
    background-position:center;
}
.container-create{
    width:420px;
    border-radius:20px;
    padding:40px 50px;
    border:2px solid rgba(255,255,255,.2);
    backdrop-filter:blur(20px);

}
.container-create h1{
    font-family:Noto Sans;
    font-size:40px;
    font-weight:200;
    margin:30px;
    color:rgb(255, 255, 255);
}
.input-box{
    width:420px;
    height:50px;

    margin:30px 0;
}
.input-box input{
    width:390px;
    height:50px;
    background:transparent;
    border:none;
    outline:none;
    border:2px solid rgba(255,255,255,.2);
    border-radius:40px;
    color:white;
    padding-left:20px;
}
.input-box input::placeholder{
    color:rgb(183, 183, 183);
}
.btn{
    width:100%;
    height:45px;
    background:white;
    border:none;
    outline:none;
    border-radius:40px;
    font-size:15px;
    font-weight:300;
}
.btn:hover{
    background-color:#a62930;
    color:white;
}
.sign-in {
    text-align:center;
    margin-top:20px;
}
.sign-in p{
    color:white;
    font-family:Noto Sans;
    font-weight:100;
}
.sign-in a{
    color:white;
    text-decoration:none;
    font-family:Noto Sans;
    font-weight:400;
}
.sign-in a:hover{
    text-decoration:underline;
}